* {
	margin: 0;
	box-sizing: border-box;
}

/* Make body full screen for centering */
html,
body {
	height: 100%;
}

body {
	background-color: black;

	display: flex;

	justify-content: center;
	align-items: center;
}

.calc {
	border: 2px solid white;
	background-color: black;
	border-radius: 5px 5px 20px 5px;
	height: 600px;
	width: 500px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.display {
	background-color: skyblue;

	flex: 1;

	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
}

.buttons {
	flex: 2;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.button-row {
	flex: 1;

	display: flex;
}

button {
	font-size: 28px;

	flex: 1;
}

.eq-btn {
	border-bottom-right-radius: 20px;
}
